@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

:root {
    --envelope-x: 300px;
    --envelope-y: 200px;
    --envelope-bg: Moccasin;
    --envelope-shadow: Peru;
    --letter-x: 250px;
    --letter-y: calc(250px - 1rem - 10px);
    --letter-bg: AntiqueWhite;
    --letter-shadow: BurlyWood;
    --letter-text: #180d07;
    --letter-font: "Sriracha", cursive;
    --letter-button-text: darkred;
    --heart-bg: #8b0000;
    --heart-text: white;
}

@media (min-width: 650px) {
    :root {
        --envelope-x: 600px;
        --envelope-y: 400px;
        --letter-x: 500px;
        --letter-y: calc(400px - 1rem - 10px);
    }


}

.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }

    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0% {
        transform: translateX(0px)
    }

    50% {
        transform: translateX(80px)
    }

    100% {
        transform: translateX(0px)
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s;
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s;
}

.cssletter {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
}

.envelope {
    position: relative;
    width: var(--envelope-x);
    height: var(--envelope-y);
    background: var(--envelope-bg);
}

.envelope::before {
    content: "˚ʚ❤︎ɞ˚";
    font-size: 5rem;
    color: white;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    mix-blend-mode: soft-light;
}

.envelope-flap {
    width: 100%;
    height: 71%;
    position: absolute;
    top: 0;
    z-index: 3;
    overflow: hidden;
    transition: 0.6s linear all;
    transform-origin: top;
    pointer-events: all;
}

.envelope-folds {
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.envelope-flap::before,
.envelope-left::before,
.envelope-right::before,
.envelope-bottom::before {
    content: "";
    transform: rotate(45deg);
    background: var(--envelope-bg);
    box-shadow: 0 0 30px -5px var(--envelope-shadow);
    width: 100%;
    aspect-ratio: 1;
    display: block;
    position: absolute;
    top: 60%;
}

.envelope-flap::before {
    border-radius: 5rem;
    bottom: 30px;
    border-radius: 5rem;
    top: auto;
}

@media (min-width: 650px) {
    .envelope-flap::before {
        bottom: 100px;
    }
}

.envelope-left::before {
    top: 10%;
    left: -65%;
}

.envelope-right::before {
    top: 10%;
    right: -65%;
}

.envelope-bottom::before {
    top: 60%;
    border-radius: 5rem;
}

.heart {
    z-index: 4;
    position: relative;
    box-shadow: none;
    border: none;
    width: 70px;
    aspect-ratio: 1;
    background: radial-gradient(circle at 60% 65%, var(--heart-bg) 64%, #0000 65%) top left/50% 50%,
        radial-gradient(circle at 40% 65%, var(--heart-bg) 64%, #0000 65%) top right/50% 50%,
        conic-gradient(from -45deg at 50% 85.5%, var(--heart-bg) 90deg, #0000 0) bottom/100% 50%;
    background-repeat: no-repeat;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

@media (min-width: 650px) {
    .heart {
        width: 150px;
    }
}

.heart::before {
    content: "";
    display: block;
    position: absolute;
    width: 70px;
    aspect-ratio: 1;
    background: radial-gradient(circle at 60% 65%, #ffffff26 64%, #0000 65%) top left/50% 50%,
        radial-gradient(circle at 40% 65%, #ffffff26 64%, #0000 65%) top right/50% 50%,
        conic-gradient(from -45deg at 50% 85.5%, #ffffff26 90deg, #0000 0) bottom/100% 50%;
    background-repeat: no-repeat;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.3s ease all;
    z-index: -1;
}

@media (min-width: 650px) {
    .heart::before {
        width: 150px;
    }
}

.heart:hover,
.heart:active,
.heart:focus {
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: var(--heart-text);
}

.heart:hover::before,
.heart:active::before,
.heart:focus::before {
    transform: translate(-50%, -50%) scale(0.8);
}

.heart-text {
    transform: translateY(-10px);
    display: block;
    color: var(--heart-text);
    font-size: 1.5rem;
    font-family: var(--letter-font);
}

.envelope.active * {
    pointer-events: none;
}

.envelope.active .envelope-flap {
    transform: rotateX(-180deg) translateY(0);
    perspective: 10px;
}

.envelope.active .envelope-flap::before {
    box-shadow: inset 0 0 30px -5px var(--envelope-shadow);
}

.envelope.active .heart {
    display: none;
}

.letter {
    left: 430px;
    top: 140px;
    box-sizing: border-box;
    font-family: var(--letter-font);
    font-size: 1rem;
    line-height: 1.1;
    background-color: var(--letter-bg);
    color: var(--letter-text);
    width: var(--letter-x);
    height: var(--letter-y);
    user-select: none;
    box-shadow: inset 0 0 20px -5px var(--letter-shadow);
    padding: 3rem 1rem 1rem;
    margin: 0;
    cursor: grab;
    position: absolute;
    top: 1rem;
    overflow: auto;
    text-align: center;
    border: 0;
}

.letter:active {
    cursor: grabbing;
}

.letter.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.letter cite {
    font-size: 1.25rem;
    color: var(--letter-text);
    margin-top: 1rem;
}

.letter cite::before {
    content: none;
}

.letter:nth-child(even) {
    transform: skew(-2deg) translateY(-4px);
}

.letter:nth-child(odd) {
    transform: skew(2deg) translateY(4px);
}

@media (min-width: 650px) {
    .letter {
        font-size: 1.3rem;
    }
}

.closeLetter {
    font-size: 0 !important;
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background: none;
    box-shadow: none;
    padding: 0;
    border: 0;
}

.closeLetter::before {
    content: "˚ʚ❤︎ɞ˚";
    font-size: 1.5rem !important;
    font-family: var(--letter-font);
    color: var(--letter-button-text);
    text-align: center;
}

.closeLetter:hover,
.closeLetter:active,
.closeLetter:focus {
    background-color: transparent;
    color: var(--letter-text);
    transform: translateX(-50%);
    padding: 0;
    margin: 0;
}

.closeLetter:hover::before,
.closeLetter:active::before,
.closeLetter:focus::before {
    content: "xXx";
}

@media screen and (max-width: 658px) {
    .envelope::before {
        content: "˚ʚ❤︎ɞ˚";
        font-size: 50px;
        color: white;
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translate(-50%, -50%);
        mix-blend-mode: soft-light;
    }

    .envelope-flap {
        width: 100%;
        height: 71%;
        position: absolute;
        top: 0;
        z-index: 3;
        overflow: hidden;
        transition: 0.6s linear all;
        transform-origin: top;
        pointer-events: all;
    }

    .envelope-folds {
        height: 130%;
    }
}




.box {
    height: 90%;
    max-height: 400px;
}

.heartBeating {
    animation: heartbeat 3s infinite;
    transform-origin: center;
}

@keyframes heartbeat {

    0%,
    100% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(0.95);
    }

    75% {
        transform: scale(1.1);
    }
}